/*.book-wrap {
	width: 49%;
	float: left;
	border: 5px solid black;
	margin-right: 1%;
	margin-bottom: 1%;
}

.box-style {
	width: 325px;
	height: 325px;
	color: #fff;
	padding: 1%;
}
.content-shape {
	background: #eee;
}
.style-shape {
	background: #0046fe;
	
}*/